.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture {
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture-src {
    width: 100%;
    height: 100%;
}

.picture:hover {
    border-color: #4caf50;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}




.choice {
    text-align: center;
    cursor: pointer;
}

.choice input[type="radio"], .choice input[type="checkbox"] {
    position: absolute;
    left: -10000px;
    z-index: -1;
}

.choice .icon {
    text-align: center;
    vertical-align: middle;
    height: 106px;
    width: 106px;
    border-radius: 50%;
    color: #999999;
    margin: 5px auto;
    border: 4px solid #CCCCCC;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    overflow: hidden;
}

.choice .icon:hover {
    border-color: #4caf50;
}

.choice.active .icon {
    border-color: #2ca8ff;
}
